$supla-green: #33b0df !default;
$supla-yellow: #f79a5b  !default;
$supla-grey-light: #eaeaea !default;
$supla-grey-dark: #606060 !default;
$supla-black: black !default;
$supla-white: white !default;
$supla-orange: #f7495e !default;
$supla-red: #f7495e !default;
$supla-blue: #218fb8 !default;
$supla-bl: #a2b6bd !default;
$supla-grey: #ebebeb !default;
$supla-font-special: 'Quicksand', sans-serif !default;
$supla-font-default: "Open Sans", sans-serif !default;
$supla-blue-li:#6fcbec !default;
$supla-bg: #fafbfc;
$supla-blue-light:#33b0df ;
$supla-bg1:rgba(51, 176, 223, 0.05) !default;
